@{
    ViewData["Title"] = "ABC Retailing - Home";
}
<div style="background-color: #d3d3d3; padding: 500px;">
    <h1 class="display-4 font-weight-bold mb-4" style="font-family: 'Lobster', cursive; color: #fff; text-align: center;">Welcome to ABC Retailing</h1>
    <p class="lead mb-5" style="font-family: 'Roboto', sans-serif; color: #f8f9fa; text-align: center;">Your one-stop shop for all your retail needs.</p>

    <h2 class="display-4" style="color: #333; text-align: center;">Discover the Best Deals</h2>
    <p class="lead" style="color: #555; text-align: center;">Explore a wide range of products and exclusive offers just for you.</p>

    <div style="text-align: center;">
        <a href="@Url.Action("Index", "Product")" class="btn btn-primary btn-lg">Shop Now</a>
    </div>
</div>
